.page-container{
  margin: 32px 0;

  .page-title{
    font-size: 22px;
    font-weight: 700;
  }

  .page-subtitle{
    font-size: 14px;
    color: var(--light-gray)
  }

  .teams-container{
    width: 100%;
    margin-top: 32px;
    border-top: 1px solid var(--gray);
  }
}

.subtitle{
  font-size: 18px;
  font-weight: 600;
  margin: 32px 0 8px;
}

